<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>front</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet> <!-- p558 -->
  	<servlet-name>front</servlet-name> <!-- class의 별칭 -->
  	<servlet-class>co.yedam.app.common.FrontController</servlet-class>
  	<init-param> <!-- 서블릿으로 넘겨주는 파라미터 값 -->
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping> <!-- url 매핑 -->
  	<servlet-name>front</servlet-name> <!-- class의 별칭과 이름이 같아야함 -->
  	<url-pattern>*.do</url-pattern> <!-- 확장자가 .do로 끝나는 거는 다 처리할거임-->
  </servlet-mapping>
</web-app>